<div class="container">
  <div class="p-2"></div>
  <div class="row">
    <div class="col-12 text-center">
      <span style="font-size: 3em;" class="text-nowrap">
         <i class="fas fa-cubes"></i> RANDOMSKI
      </span>
    </div>
  </div>

  <div class="p-2"></div>

  <div class="row">
    <div class="col-6 text-center">

      <strong><i class="{{icon}}"></i></strong>
    </div>
    <div class="col-6 text-center">
      <strong>{{char}}</strong>
    </div>
  </div>

  <button (click)="random()" type="button" class="btn btn-primary w-100 fixed-bottom">Los gehts</button>

</div>
